
@{
    ViewBag.Title = "CompositionSelected";
}


<h1 style="color:red"><b>Error</b></h1>
<h3 style="color:red"><b>Same Composition Has Selected Twics. Please Select Distinct Compositions.</b></h3>

<div>
    @Html.ActionLink("Back to Create", "Create")
</div>
