
@{
    ViewBag.Title = "CompositionExceeded";
}

<h1 style="color:red"><b>Error</b></h1>
<h3 style="color:red"><b>Entered Composition Values are Wrong. Please Check Composition Values Again.</b></h3>
<p style="color:red"><b><i>(Composition total value must be 100% for a single fabric or it should be 200% for pasted fabrics.)</i></b></p>

<div>
    @Html.ActionLink("Back to Create", "Create")
</div>
