@model CMFLMS.Models.Library.Fabrics

@{
    ViewBag.Title = "Exist";
}

<h1 style="color:red"><b>Error</b></h1>
<h3 style="color:red"><b>Entered Fabric Sample Id Already Exists. Please Try a Different Fabric Sample Id</b></h3>

<div>
    @Html.ActionLink("Back to Create", "Create")
</div>
