
@{
    ViewBag.Title = "NoCompositionEntered";
}

<h1 style="color:red"><b>Error</b></h1>
<h3 style="color:red"><b>There Are No Composition Values Entered or The Entered Composition Values Are Below Zero (0). Please Enter At-lease One Composition Value or a Value Greater Than Zero (0).</b></h3>

<div>
    @Html.ActionLink("Back to Create", "Create")
</div>

