
@{
    ViewBag.Title = "NoFactory";
}
<h1 style="color:red"><b>Error</b></h1>
<h3 style="color:red"><b>Factory Not Selected. Please Select a Factory</b></h3>

<div>
    @Html.ActionLink("Back to Create", "Create")
</div>