
@{
    ViewBag.Title = "Fabric Report";
}
@*width="1110" height="720"*@
@*Grid 033C73*@
@*Font 1E59BF*@
<h2>Fabric Samples Detail Report</h2>
<iframe width="1110" height="720" src="https://app.powerbi.com/view?r=eyJrIjoiNzI1NTc1ZWYtY2M1Yi00M2YyLThjMGUtODg5OWU2YTA2NjE1IiwidCI6ImJmMjlhN2JmLWJkOGItNGMxZC05YzQxLWQ4ZTNiMGE2YTYxZCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>